@*<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/Js/Contact.js"></script>
    </head>
    <body>
        <label>Name</label>
        <input type="text" name="text" value="" id="name"/>
        <br />

        <label>Email</label>
        <input type="text" name="email" value="" id="email"/>
        <br />

        <input type="button" onclick="btnClick()" value="send data" class="button" id="button"/>

        <script>




        </script>
    </body>
    </html>*@

@model PassportGenerator.Models.StudentModel




<div style="display:none" id="loader">
    <img src="~/Imgs/Salil-Parekh.jpeg" height="100" width="200" />
</div>


@using (Ajax.BeginForm("AddStudent", new AjaxOptions()
{
    LoadingElementId = "loader",

    HttpMethod = "POST"
}))
{
    <div>
        @Html.EditorFor(x => x.Name)
        <br />
        @Html.EditorFor(x => x.email)
        <br />

        <input type="submit" value="click me"/>
    </div>
}

